.write{
    padding-top: 50px;
}

.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}



.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    cursor: pointer;
    font-size: 20px;
    color: gray;
}

.writeInput{
    width: 70vw;
    font-size: 30px;
    padding: 20px;
    border: none;
}

.writeInput1{
    width: 70vw;
    font-size: 30px;
    padding: 20px;
    border: none;
}

.writeInput:focus{
    outline: none;
}
.writeInput1:focus{
    outline: none;
}

.writeText{
    font-size: 20px;
    height: 100vh;
}

.writeCat{
    font-size: 20px;
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: teal;
    padding: 10px;
    font-size: 16px;
}

@media screen and (max-width:320px) {

    

    .writeImg{
        width:310px;
        margin: 10px 5px;
    }

    .writeForm{
        width: 310px;
        padding: 10px 5px;
    }

    .writeFormGroup{
        margin-left: 0px;
    }

    .writeSubmit{
        position: relative;
        left: 120px;
        margin-bottom: 20px;
        
    }

    .writeText{
        height: 200px;
    }

    .writeInput{
        width: 90vw;
    }

    .writeInput1{
        width: 76vw;
    }
}