.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

@media screen and (max-width:320px) {
    .posts{
        margin: 10px 0px;
        padding: 5px 0px;
        justify-content: center;
    }
}