.singlepostcomp{
    flex: 9;
}

.singlepostcompWrapper{
    padding: 20px;
    padding-right: 0;
}

.singlepostcompImg{
    width: 100%;
    border-radius: 5px;
    height: 300px;
    object-fit: cover;
}

.singlepostcompTitle{
    text-align: center;
    margin: 10px;
    font-size: 28px;
    font-family: 'Lora', serif;
}

.singlepostcompTitleInput{
    width: 70vw;
    padding: 20px;
    border: none;
    margin: 10px;
    font-size: 28px;
    font-family: 'Lora', serif;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.singlepostcompTitleInput:focus{
    outline: none;
}

.singlepostcompEdit{
    float: right;
    font-size: 18px;
}

.singlepostcompIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlepostcompIcon:first-child{
    color: teal;
}

.singlepostcompIcon:last-child{
    color: tomato;
}

.singlepostcompInfo{
    margin-bottom: 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: #b39656;
}

.singlepostcompDesc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlepostcompDescInput{
    font-size: 20px;
    padding: 0;
    margin: 0;
    width: 74vw;
}

.singlepostcompDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;

}


.singlepostcompButton{
    border: none;
    color: white;
    background-color: teal;
    padding: 5px;
    margin-top: 10px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}